{% extends 'base.html' %} 
{% load static %}

<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                        <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
                        <li><a href="{% url 'cart' %}"><i class="fa fa-user"></i> My Cart</a></li>
                        <li><a href="{% url 'checkout' %}"><i class="fa fa-user"></i> Checkout</a></li>
                        <li><a href="{% url 'login_Signup' %}"><i class="fa fa-user"></i> Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>